@use "../base/mixin" as m; // use mixin as 'm'
@use "../base/variables" as v; // use variables as 'v'
@use "../module/__module-recipe"; // use variables as 'v'

/* --- ヘッダー --- */
.header {
  width: 100%;
  min-width: 400px;
  height: 500px;
  background: url("../img/header.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: height 0.3s;
  will-change: height;
  @include m.mq(tab) {
    height: 350px;
  }
  @include m.mq(sp) {
    height: 280px;
    transition: height 0.2s;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    transition: background 0.5s;
    will-change: background;
  }
  // スクロール時
  &.js-headerScrollOn {
    height: 60px;
    @include m.mq(tab) {
      height: 70px;
    }
    @include m.mq(sp) {
      height: 120px;
    }
    &::before {
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

/* --- サイトロゴ --- */
.logo {
  position: absolute;
  width: 140px;
  top: 30px;
  left: 30px;
  transition: width 0.4s, top 0.4s, left 0.4s;
  will-change: top, left;
  @include m.mq(tab) {
    width: 120px;
    top: 18px;
    left: 30px;
  }
  @include m.mq(sp) {
    width: 100px;
    top: 20px;
    left: 20px;
  }
  // スクロール時
  &.js-headerScrollOn {
    top: 13px;
    @include m.mq(tab) {
      width: 120px;
      top: 18px;
      left: 30px;
    }
    @include m.mq(sp) {
      width: 100px;
      top: 20px;
      left: 20px;
    }
  }
}

/* --- サイト説明 --- */
.siteExpl {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: opacity, scale;
  &.js-headerScrollOn {
    display: none;
  }
}
.siteExpl__text {
  &--row1,
  &--row2 {
    color: v.$color_white;
    font-size: 24px;
    font-family: "Nova Square", "Kiwi Maru";
    @include m.mq(tab) {
      font-size: 16px;
    }
    @include m.mq(sp) {
      font-size: 13px;
    }
  }
}

/* --- 虫フィルターボタン --- */
.insectFilterBtn {
  width: 150px;
  height: 50px;
  background: v.$color_white;
  border-radius: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  right: 30px;
  transition: top 0.4s, scale 0.3s;
  will-change: top, right, scale;
  @include m.mq(tab) {
    top: 10px;
    right: 10px;
    scale: 0.8;
  }
  @include m.mq(sp) {
    top: 10px;
    right: 0px;
    scale: 0.7;
  }
  &.js-headerScrollOn {
    top: 5px;
    right: 30px;
    @include m.mq(tab) {
      top: 10px;
      right: 10px;
    }
    @include m.mq(sp) {
      top: 10px;
      right: 0px;
    }
  }
}
.insectFilterBtn__text {
  font-size: 12px;
  font-weight: 500;
  color: v.$color_main;
}
.insectFilterBtn__input {
  display: none;
  &:checked + .insectFilterBtn__label {
    background: v.$color_main;
    &::before {
      translate: 28px 7px;
    }
  }
}
.insectFilterBtn__label {
  width: 55px;
  height: 35px;
  margin-left: 8px;
  background: v.$color_gray01;
  border-radius: 100px;
  position: relative;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: background 0.2s linear;
  will-change: background;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: v.$color_white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    translate: 6px 7px;
    will-change: translate;
  }
}

/* --- ナビボタン --- */
.navBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  &.js-headerScrollOn {
    @include m.mq(tab) {
      // translate: 0 -23px;
    }
    @include m.mq(sp) {
      translate: 0 25px;
    }
  }
}
.navBtns__btn {
  border: none;
  border-radius: 200px;
  background: v.$color_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0;
  @include m.mq(tab) {
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @include m.mq(sp) {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ion-icon {
    font-size: 30px;
    margin-top: 20px;
    color: v.$color_main;
    transition: translate 0.4s;
    will-change: translate;
    @include m.mq(tab) {
      font-size: 25px;
      margin-top: 10px;
    }
    @include m.mq(sp) {
      font-size: 15px;
      margin-top: 8px;
    }
  }
  // ログインアイコンだけ小さいため個別でスタイル指定
  &--login {
    ion-icon {
      font-size: 38px;
      @include m.mq(tab) {
        font-size: 30px;
        margin-top: 10px;
      }
      @include m.mq(sp) {
        font-size: 20px;
        margin-top: 8px;
      }
    }
  }
  &::before {
    content: "";
    width: 170px;
    height: 170px;
    border: 5px solid transparent;
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: border 0.3s;
    will-change: border;
    @include m.mq(tab) {
      width: 135px;
      height: 135px;
      border: 3px solid transparent;
    }
    @include m.mq(sp) {
      width: 80px;
      height: 80px;
      border: 2px solid transparent;
    }
  }
  &:hover {
    .navBtns__btn__text {
      color: v.$color_main;
    }
    &::before {
      border: 5px solid v.$color_main;
      @include m.mq(tab) {
        border: 3px solid v.$color_main;
      }
      @include m.mq(sp) {
        border: 2px solid v.$color_main;
      }
    }
  }
  &.js-headerScrollOn {
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 100px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    @include m.mq(tab) {
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 0;
    }
    ion-icon {
      color: v.$color_main;
      font-size: 18px;
      margin-top: 0;
      margin-right: 10px;
      @include m.mq(tab) {
        font-size: 15px;
        margin-right: 0;
      }
    }
    // ログインアイコンだけ小さいため個別でスタイル指定
    &--login {
      ion-icon {
        font-size: 30px;
        @include m.mq(tab) {
          font-size: 60px;
          margin-top: 0;
        }
        @include m.mq(sp) {
          font-size: 40px;
          margin-top: 0;
        }
      }
    }
    &::before {
      content: "";
      width: 90%;
      height: 36px;
      border: 2px solid transparent;
      border-radius: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      @include m.mq(tab) {
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
      }
      @include m.mq(sp) {
        width: 40px;
        height: 40px;
        border: 2px solid transparent;
      }
    }
    &:hover {
      .navBtns__btn__text {
        color: v.$color_main;
      }
      &::before {
        border: 2px solid v.$color_main;
      }
    }
  }
}
.navBtns__btn__text {
  display: block;
  font-family: "Kiwi Maru", sans-serif;
  color: black;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 4px;
  scale: 1;
  will-change: color, scale;
  @include m.mq(tab) {
    font-size: 15px;
    letter-spacing: 3px;
  }
  @include m.mq(sp) {
    font-size: 10px;
    letter-spacing: 0;
  }
  &.js-headerScrollOn {
    font-size: 12px;
    letter-spacing: 0px;
    @include m.mq(tab) {
      scale: 0;
      display: none;
    }
  }
}

/* --- 検索form--- */
.search__form {
  width: 700px;
  background: v.$color_white;
  padding: 25px 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 100px;
  translate: -50% 0;
  opacity: 1;
  z-index: 2000;
  will-change: opacity;
  @include m.mq(tab) {
    width: 600px;
  }
  @include m.mq(sp) {
    width: 90%;
    padding: 25px 25px;
  }
  hr {
    display: block;
    width: 100%;
    border: 0.5px solid v.$color_gray02;
    border-radius: 100px;
    margin: 20px 0;
  }
  &.hidden {
    display: none;
  }
  animation-name: searchFormAnimate;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  @keyframes searchFormAnimate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.search__form__cover {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  &.hidden {
    display: none;
  }
  animation-name: searchFormCoverAnimate;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  @keyframes searchFormCoverAnimate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.search__form__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  color: v.$color_main;
}

.search__form__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Kiwi Maru", sans-serif;
  color: v.$color_main;
  &::before {
    content: "▶";
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

.search__form__keyword {
  width: 100%;
}

.search__form__keyword__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Kiwi Maru", sans-serif;
  input {
    width: calc(100% - 70px);
    height: 35px;
    border: 2px solid v.$color_gray02;
    border-radius: 100px;
    padding-left: 20px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: border 0.3s;
    will-change: border;
    &::placeholder {
      color: v.$color_gray03;
    }
    &:focus {
      outline: none;
      border: 2px solid v.$color_main;
    }
  }
}

.search__form__keyword__btn {
  width: 60px;
  height: 35px;
  font-size: 13px;
  font-family: "Kiwi Maru", sans-serif;
  letter-spacing: 1px;
  color: v.$color_white;
  background: v.$color_main;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

.search__form__tag {
  width: 100%;
}

.search__form__tag__tags {
  @extend .recipe__tags;
}

.search__form__tag__tags__btn {
  @extend .recipe__tag;
}

.search__form__tag__tags__btn__name {
  @extend .recipe__tag__name;
}
