@use "../base/mixin" as m; // use mixin as 'm'
@use "../base/variables" as v; // use variables as 'v'
@use "../module/__module-recipe.scss";

.main.js-headerScrollOn {
  padding-top: 100px;
  height: calc(100% - 60px);
  @include m.mq(sp) {
    height: calc(100% - 140px);
    padding-top: 140px;
  }
}

.searchRecipe {
  width: 85%;
  @include m.mq(tab) {
    width: 90%;
  }
  @include m.mq(sp) {
    width: 100%;
  }
}
.searchRecipe__title {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid v.$color_gray02;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.searchRecipe__title__text {
  display: block;
  font-size: 16px;
  letter-spacing: 3px;
  margin-left: 15px;
  margin-right: 15px;
  white-space: nowrap;
  @include m.mq(sp) {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.searchRecipe__list {
  @extend .recipeList;
}
.searchRecipe__list__item {
  @extend .recipe;
}
.searchRecipe__list__item__img {
  @extend .recipe__img;
}
.searchRecipe__list__item__userAction {
  @extend .recipe__userAction;
}
.searchRecipe__list__item__user {
  @extend .recipe__user;
}
.searchRecipe__list__item__user__icon {
  @extend .recipe__user__icon;
}
.searchRecipe__list__item__user__name {
  @extend .recipe__user__name;
}
.heartBtn {
  @extend .recipe__heartBtn;
  ion-icon {
    @extend .recipe__heart;
  }
}
.heartNum {
  @extend .recipe__heartNum;
}
.searchRecipe__list__item__recipeName {
  @extend .recipe__name;
}
.searchRecipe__list__item__tags {
  @extend .recipe__tags;
}
.searchRecipe__list__item__tag {
  @extend .recipe__tag;
}
.searchRecipe__list__item__tag__name {
  @extend .recipe__tag__name;
}

