// color
$color_main: #147647;
$color_green: #145E3A;
$color_white: #FDFDFD;
$color_white02: #f7f7f7;
$color_black: #636363;
$color_gray01: #F4F4F4;
$color_gray02: #e6e6e6;
$color_gray03: #ACACAC;
$color_brown: #B67C47;
$color_pink: #F27BA6;

// font
$font_size--small: 12px;
$font_size--medium: 16px;
$font_size--big: 24px;
$font_size--large: 30px;